<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWSAPIBaseURL</key>
	<string></string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>wcs.Agedcare-shared.healthkit-refresh</string>
		<string>wcs.Agedcare-shared.alert-sync</string>
	</array>
	<key>BackendBaseURL</key>
	<string>https://izpwlqvuhdudzneqtecd.supabase.co</string>
	<key>BackendProvider</key>
	<string>primary</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CloudflareAPIBaseURL</key>
	<string></string>
	<key>NSBonjourServices</key>
	<array>
		<string>_agedcare._tcp</string>
	</array>
	<key>SupabaseAnonKey</key>
	<string>sb_publishable_Y9mQj4l9v8cgCOKc5QfgpA_IwCqd89j</string>
	<key>SupabaseBaseURL</key>
	<string>https://izpwlqvuhdudzneqtecd.supabase.co</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
		<string>processing</string>
	</array>
</dict>
</plist>
